
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}


h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66bfbf;
    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color:#66bfbf ;
    padding: 50px 0 20px;
}


.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 400px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bike {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    
}

.comp {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.chilli {
    width: 25%;
    float: right;
    margin-left: 30px;
}

hr {
    border: dotted #80ced6 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
    
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .con-des {
    margin-bottom: 50px;
  }

  a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

  a:hover {
    color: #eaf6f6;
  }

  .copywrite {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }